<script
  src="https://kit.fontawesome.com/dfb02d7364.js"
  crossorigin="anonymous"
></script>
<div class="content">
  <!--ADD NOTE BUTTON-->
  <h1>
    <div class="columns">
      <div class="column is-offset-1">
        <button class="button is-link" (click)="toggleAddModal()">
          Click here to add a Note!
        </button>
      </div>
    </div>
  </h1>
  <!--ENTIRE NOTE LAYOUT-->
  <h2>
    <div class="columns is-multiline">
      <div
        class="column is-4 has-background-info is-offset-1"
        *ngFor="let note of notes"
      >
        <div class="box">
          <div class="content">
            <div class="content">
              <p>
                <strong>{{ note.noteHeader }} ({{ note.date | date }}) </strong>
                <br />
                {{ note.noteContent }}
              </p>
              <div class="columns">
                <div class="column is-offset-9">
                  <button
                    class="button is-info"
                    (click)="openUpdateModal(note)"
                  >
                    <fa-icon [icon]="faPenToSquare"></fa-icon>
                  </button>
                </div>
                <div class="column">
                  <button
                    class="button is-danger"
                    (click)="onDeleteNote(note.id)"
                  >
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ADD NOTE MODAL-->
    <div id="addNoteModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <form [formGroup]="noteForm" (ngSubmit)="onAddNote(noteForm.value)">
          <div class="box">
            <label class="label">Note Header</label>
            <textarea
              class="textarea"
              formControlName="noteHeader"
              type="text"
              placeholder="Enter Note Header"
              rows="2"
              required
            ></textarea>
            <label class="label">Note Content</label>
            <textarea
              class="textarea mb-3"
              formControlName="noteContent"
              type="text"
              placeholder="Enter Note content"
              rows="10"
              required
            ></textarea>
            <button
              [disabled]="noteForm.invalid"
              class="button is-info"
              type="submit"
            >
              Submit!
            </button>
          </div>
        </form>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        (click)="toggleAddModal()"
      ></button>
    </div>
    <!-- UPDATE MODAL-->
    <div id="updateNoteModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <form
          [formGroup]="noteForm"
          (ngSubmit)="
            onUpdateNote(noteForm.value, updateNote?.id, updateNote?.date)
          "
        >
          <div class="box">
            <label class="label">Note Header</label>
            <textarea
              class="textarea"
              formControlName="noteHeader"
              type="text"
              rows="2"
              required
            ></textarea>
            <label class="label">Note Content</label>
            <textarea
              class="textarea mb-3"
              type="text"
              rows="10"
              formControlName="noteContent"
              required
            ></textarea>
            <button
              [disabled]="noteForm.invalid"
              class="button is-info"
              type="submit"
            >
              Submit!
            </button>
          </div>
        </form>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        (click)="closeUpdateModal()"
      ></button>
    </div>
  </h2>
</div>
